@keyframes moveimg{
    0%{
        transform: translate(0px,0px); 
    }
    50%{
        transform: translate(300px,0px) rotate(180deg);
    }
    
    100%{
        transform: translate(300px,300px);
    }
}
img{
    width: 200px;
    height: 200px;
    animation: moveimg 3s ease infinite;

}